<div class="row">
    <h1>Educacion</h1>

    
        <ul>● Secundarios Instituto Secundario “DOMINGO SAVIO”, TITULO: Bachiller orientado en Humanidades con Especialidad en Ciencias Sociales (Finalizado en el año 2009).</ul>
        <ul>● Inglés: Estudios en academia de inglés I.I.C.A.N.A, año 2005-2011 completando así el nivel más alto del instituto (High teens).</ul>
        <ul>● Cursé hasta 3er año de Veterinaria en la UNRC (2011-2015)</ul>
        <ul>● Cursé Perito Clasificador de granos y oleaginosas en Instituto “Nuevo Rumbo” TITULO: Perito clasificador de Cereales y Oleaginosas. Certificado por SENASA (2017-2018).</ul>
        <ul>● Cursos gratuitos de HTML, CSS y JavaScript.</ul>
        <ul>● Actualmente realizando la tesis de Contador Público en Universidad Siglo 21.</ul>
        <ul>● Actualmente finalizando el curso de Argentina Programa, con título de Full Stack Developer Jr.</ul>
        <ul>● Actualmente cursando Ingles de Programacion.</ul>
    

    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaed" *ngIf="isLogged">
          Nuevo Estudio
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">

        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of edu">
                    <td><h2>{{ Educacion.nombreEd }}</h2></td>
                    <td>{{ Educacion.descripcionEd }}</td>
                    <td ngIf="isLogged"><button class="btn btn-light" routerLink="/edited/{{Educacion.id}}"><i class="bi bi-pencil-square"></i>Editar</button></td>
                    <td ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Educacion.id)"><i class="bi bi-trash-fill"></i>Borrar</button></td>
                </tr>
            </tbody>
    
        </table>

    </div>
    
   
</div>

