.row{
    padding: 20px;
    display: flex; 
      
}

div{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-top: auto;
}


/*Estilo de la foto de perfil*/

#fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius:100%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top:650px;
}

/*Para la vista media*/
@media (max-width: 780px){
    #fotodeperfil{
        position: absolute;
        width:29%;
        border-radius:100%;
        box-shadow: 3px 3px 3px black;
        left: 40%;
        top:560px;
        }
    }

/*Para la vista de celular*/
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 40%;
        border-radius:100%;
        box-shadow: 3px 3px 3px black;
        left: 29%;
        top:640px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
   
}