<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/tomi.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <br class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        
        <h1>Acerca de mi</h1>
        <br>
        <p>Soy Tomas, futuro Full Stack Developer Jr, fascinado con este universo de programacion.</p><br>
        <p> Mi sueño es poder trabajar de esto que tanto me apasiona</p><br>
        <p>En mis ratos libres me gusta tocar la bateria y jugar Videojuegos</p><br>
    
</div>


