<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto Final</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem unde cum ullam dolores in eligendi, itaque quae facere iste asperiores fuga quod, minima velit nobis assumenda optio odio quia nulla.</p>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/js.png">
        </div>
    </div>



</div>
