.row{
    padding: 20px;
    background-color: #00123c;

}

.contenedor{
    width: auto;

}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

h1, h3, p{
     color: white;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
        width: 130%;
        left: 60%;
        top: 800px;
}