<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>● App Clima</h3>
            <p>Una simple pero muy efectiva aplicacion para consultar el clima de diversas ciudades alrededor del mundo.</p>
            <p>Para verlo en GitHub haz click <a href="https://github.com/TOMIKORN/appClima.git" target=”_blank>AQUI</a></p>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/appClima.png">
        </div>
        <br>
        <br>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>● Proyecto Final</h3>
            <p>Este es mi portfolio, compuesto por informacion personal.</p>

            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/portfolio.png">
        </div>
    </div>



</div>
